$--color-primary: #eb7708;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

$--main-padding: 40px;


.el-card__header {
  background: #818181;
}

.preview_img {
  max-height: 100px;
  width: 150px;
  object-fit: contain;
}

.search-button {
  background: #eb7708 !important;
  color: #ffffff !important;
}

.my-input{
  .el-input__inner{
    border-right: none;
  }
}
