$--color-primary: #F6891F;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

$--main-padding: 40px;


.el-card__header {
  background: #818181;
}

main-color-btn {
  background-color: #F6891F;
}

.preview_img {
  max-height: 100px;
  width: 150px;
  object-fit: contain;
}

.search-button {
  background: #F6891F !important;
  color: #ffffff !important;
}

.my-input{
  .el-input__inner{
    border-right: none;
  }
}

.btn-icon-class{
  span:first-child {
    display: flex;
    align-items: center;
  }
}

.pointer{
  cursor:pointer
}

.el-tree-node__content {
  color: #000000;
  height: 30px;
  margin-top: 5px;
}
